<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Currencies</h1>
      <div>
        <%= link_to "View Collections", currency_collections_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @currencies.each do |currency| %>
    <div class="col">
      <%= render CurrencyCardComponent.new(currency: currency) %>
    </div>
  <% end %>
</div>
